<div class="card{{if lt .Upvotes 1}} bad-comment{{end}}">
    <header class="card-header">
      <p class="card-header-title">
        {{len .Streams}} stream{{if gt (len .Streams) 1}}s{{end}} by /u/{{.Streamer}}
      </p>
      <span class="card-header-icon" style="cursor: inherit">
        <span class="icon">
          <i class="fas fa-angle-double-up" aria-hidden="true"></i>
          &nbsp;{{.Upvotes}}
        </span>&nbsp; {{if .ReliableStreamer}}
        <span class="tag is-success">
          <i class="fas fa-star"></i>&nbsp;Reliable</span>
        {{end}}
      </span>
    </header>
    <div class="card-content">
      <div class="content">
        <ul>
          {{range .Streams}}
            {{template "App/stream.html" .}}
          {{end}}
        </ul>
      </div>
    </div>
    <footer class="card-footer">
	    <a href="https://reddit.com/{{.Permalink}}" class="card-footer-item button {{if gt .Upvotes 0}}is-info{{else}}is-dark{{end}}" style="border-top-left-radius: 0; border-top-right-radius: 0">Watch now</a>
    </footer>
  </div>
