{{set . "title" (printf "[%s GMT] %s vs %s - Soccerstreams" .thread.GMTKickoff .thread.Team1 .thread.Team2)}} {{template "header.html" .}}


<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        {{template "flash.html" .}}
      </div>
    </div>

    {{with .thread}}
    <div class="columns">
      <a href="/" class="button is-outlined is-info">Back</a>
    </div>
    <div class="columns">
      <div class="column">
        <p class="title has-text-info is-1">
          {{if .IsLive}}
          <span class="tag is-danger" style="margin-top: -.2em">
            LIVE
          </span>
          {{end}}
          <a style="text-decoration: none" href="https://reddit.com/r/soccerstreams/comments/{{.RedditID}}">{{.Team1}} vs {{.Team2}}</a>
        </p>
        <p>
          {{if gt (len .Streams) 0}}
          <div class="field is-grouped is-grouped-multiline">
            <div class="control">
              <div class="tags has-addons">
                <span class="tag">Kickoff</span>
                <span class="tag is-info">{{.GMTKickoff}} GMT</span>
              </div>
            </div>
            <div class="control">
              <div class="tags has-addons">
                <span class="tag">Acestreams</span>
                <span class="tag {{if gt .NumAcestreams 0}}is-success{{else}}is-danger{{end}}">{{.NumAcestreams}}</span>
              </div>
            </div>
            <div class="control">
              <div class="tags has-addons">
                <span class="tag">Webstreams</span>
                <span class="tag {{if gt .NumWebstreams 0}}is-success{{else}}is-danger{{end}}">{{.NumWebstreams}}</span>
              </div>
            </div>
          </div>
          <div class="notification is-warning has-top-spacing">
            If you enjoy a stream, please click upvote it! You can get to the comment by clicking on "perma".
          </div>
          {{end}}
        </p>
        {{if gt .NumAcestreams 0}}
        <p class="title is-2 has-top-spacing">
          Acestreams
        </p>
        <table class="table is-striped">
          <thead>
            <tr>
              <th>
                <abbr title="Quality">Q</abbr>
              </th>
              <th>Link</th>
              <th>Channel Name</th>
              <th class="is-hidden-mobile">Streamer</th>
            </tr>
          </thead>
          <tbody>
            {{range $idx, $s := .Acestreams}}
            <tr>
              <td>{{with $s.Quality}} {{if eq . "HD"}}
                <span class="has-text-weight-bold">HD</span>
                {{else}}{{.}} {{end}} {{else}}
                <span class="has-text-danger">?</span>{{end}}
              </td>
              <td>
                <span class="upvotes"><i data-feather="chevrons-up"></i> {{$s.Metadata.Upvotes}}</span>
                <a href="{{$s.Link | safeURL}}">
                  <span class="tooltip" data-tooltip="{{$s.Link}}">{{$s.Link | truncate}}</span>
                </a>
              </td>
              <td>
                <span class="tooltip" data-tooltip="{{$s.Channel}}">{{$s.Channel | truncate}}</span>
              </td>
              <td class="is-hidden-mobile">
                /u/{{$s.Streamer}}
                {{if $s.Metadata.ReliableStreamer}}
                <span class="tooltip has-text-success reliable-streamer" data-tooltip="Streamer of the Week">
                  <i data-feather="star"></i>
                </span>
                {{end}}
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
        {{end}} {{if gt .NumWebstreams 0}}
        <p class="title is-2 has-top-spacing">
          Webstreams
        </p>
        <p class="subtitle is-hidden-tablet">Mobile friendly only</p>
        <table class="table is-striped">
          <thead>
            <tr>
              <th>
                <abbr title="Quality">Q</abbr>
              </th>
              <th>Channel Name</th>
              <th class="is-hidden-mobile">Streamer</th>
              <th class="is-hidden-mobile"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{range $idx, $s := .Webstreams}}
            <tr class="{{if not $s.MobileFriendly}}is-hidden-mobile{{end}}">
              <td>{{with $s.Quality}} {{if eq . "HD"}}
                <span class="has-text-weight-bold">HD</span>
                {{else}}{{.}} {{end}} {{else}}
                <span class="has-text-danger">?</span>{{end}}</td>
              <td>
                {{if gt $s.Clicks 0}}
                <span class="tag is-hidden-tablet is-danger">
                  {{$s.Clicks}}&nbsp;
                  <span class="icon is-small">
                    &nbsp;
                    <i data-feather="loader"></i>
                  </span>
                </span>
                {{end}}
                <span class="tooltip " data-tooltip="{{$s.Channel}}">
                <span class="upvotes"><i data-feather="chevrons-up"></i> {{$s.Metadata.Upvotes}}</span>
                 {{$s.Channel | truncate}}</span>
              </td>
              <td class="is-hidden-mobile">
                    /u/{{$s.Streamer}}
                    {{if $s.Metadata.ReliableStreamer}}
                    <span class="tooltip has-text-success reliable-streamer" data-tooltip="Streamer of the Week">
                      <i data-feather="star"></i>
                    </span>
                    {{end}}
                  </div>
                </div>
              </td>
              <td class="is-hidden-mobile">{{with $s.Clicks}}
                <div class="tags has-addons">
                  <span class="tag">Clicks</span>
                  <span class="tag {{if eq . 0}}is-success{{else}}is-warning{{end}}">{{.}}</span>
                </div>
                {{end}}
              </td>
              <td>
                <span class="icon has-text-info">
                  <a href="{{$s.Link}}" class="tooltip" data-tooltip="{{$s.Link}}">
                    <i data-feather="external-link"></i>
                  </a>
                </span>
                <span class="is-small is-hidden-mobile">
                  <a href="https://reddit.com{{$s.CommentLink}}">perma</a>
                </span>
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
        {{end}}
      </div>
    </div>
    {{end}}



  </div>
</section>

{{template "footer.html" .}}