{{set . "title" (printf "[%s GMT] %s vs %s - Soccerstreams" .thread.GMTKickoff .thread.Team1 .thread.Team2)}} {{template "header.html" .}}


<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        {{template "flash.html" .}}
      </div>
    </div>

    {{with .thread}}
    <div class="columns">
      <a href="/" class="button is-outlined is-info">Back</a>
    </div>
    <div class="columns">
      <div class="column">
        <p class="title has-text-info is-1">
          {{if .IsLive}}
          <span class="tag is-danger" style="margin-top: -.2em">
            LIVE
          </span>
          {{end}}
          <a style="text-decoration: none" href="https://reddit.com/r/soccerstreams/comments/{{.RedditID}}">{{.Team1}} vs {{.Team2}}</a>
        </p>
        <p>
          {{if gt .NumStreams 0}}
          <div class="field is-grouped is-grouped-multiline">
            <div class="control">
              <div class="tags has-addons">
                <span class="tag">Kickoff</span>
                <span class="tag is-info">{{.GMTKickoff}} GMT</span>
              </div>
            </div>
            <div class="control">
              <div class="tags has-addons">
                <span class="tag">Acestreams</span>
                <span class="tag {{if gt .NumAcestreams 0}}is-success{{else}}is-danger{{end}}">{{.NumAcestreams}}</span>
              </div>
            </div>
            <div class="control">
              <div class="tags has-addons">
                <span class="tag">Webstreams</span>
                <span class="tag {{if gt .NumWebstreams 0}}is-success{{else}}is-danger{{end}}">{{.NumWebstreams}}</span>
              </div>
            </div>
          </div>
          {{end}}
        </p>
        <p class="title is-2">Acestreams</p>
        <div class="columns is-multiline">
        {{range .Comments}}
        {{if gt (len .Acestreams) 0}}
        <div class="column is-mobile is-one-third-desktop is-half-tablet">
        {{template "App/ace_comment.html" .}}
        </div>
        {{end}}
        {{end}}
        </div>

        <p class="title is-2">Webstreams</p>
        <div class="columns is-multiline">
        {{range .Comments}}
        {{if gt (len .Webstreams) 0}}
        <div class="column is-mobile is-one-third-desktop is-half-tablet">
        {{template "App/web_comment.html" .}}
        </div>
        <div class="column is-mobile is-one-third-desktop is-half-tablet">
        {{template "App/web_comment.html" .}}
        </div>
        {{end}}
        {{end}}
        </div>
      </div>
    </div>
    {{end}}



  </div>
</section>

{{template "footer.html" .}}