{{set . "title" "Overview - Soccerstreams"}} {{template "header.html" .}}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        {{template "flash.html" .}}
      </div>
    </div>

    {{if eq (len .threads) 0}}
    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title">:(</h1>
        <p class="subtitle">There are currently no matchthreads available.</p>
        <p class="subtitle is-size-7">Matchthreads usually disappear after 2.5 hours on this page</p>
      </div>
    </div>
    {{end}} 

    {{range .competitions}}
    <div class="level">
      <div class="level-left">
          {{if not (eq .Identifier "unknown")}}
          <img src='/competitions/{{.Identifier}}/image' class="level-item competition-image" />
          {{end}}
        <h3 class="level-item subtitle is-uppercase">{{.Name}}</h3>
      </div>
    </div>
    <div class="columns is-multiline">
      {{range .Matchthreads}}
      {{template "App/matchcard.html" .}}
      {{end}}
    </div>
    {{end}}

    {{if gt (len .threads) 0}}
    <div class="columns">
      <div class="column is-6 is-offset-3 notification">
        Seeing duplicate matches? Sorry, that might happen from time to time. This data is based on actual reddit threads and they might get deleted at any time.
      </div>
    </div>
    {{end}}
  </div>
</section>

<script type="text/javascript">

</script> {{template "footer.html" .}}