.is-relative {
    position: relative;
}

.is-on-top {
    z-index: 100;
}

.has-no-overflow {
    overflow: hidden;
}

.matchthread-box {
    padding: 0;
}

.matchthread-box-header.columns {
    margin-bottom: 0;
    min-height: 18rem;
}

.matchthread-box-header > .column {
    padding: 1.25rem 2.5rem 1.25rem 2.5rem;
}

.matchthread-box-header > .column.is-narrow {
    padding: .1rem .5rem .1rem .5rem;
}

.matchthread-box-header > .column:first-child {
    padding-left: 1rem;
}

.matchthread-box-title {
    margin-top: 0;
    background-color: black;
    padding-bottom: 1rem;
}

.matchthread-box-content {
    padding: 1.25rem 2.5rem 3.25rem 1.5rem;
}

.matchthread-box-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/background.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;
}

.background::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to right,
            #000 50%,
            transparent 100%);
}

.has-no-streams > article {
    opacity: .3;
}

.has-no-streams {
    position: relative;
}

.has-no-streams > .overlay {
    text-align: center;

}

.matchthread-background {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
}

.matchthread-background::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to top,
            #000 20%,
            transparent 100%);
}

.has-top-spacing {
    margin-top: 1em;
}

.club-image {
    max-height: 7em;
}

.competition-image {
    height: 48px;
}